{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Add a new RSS source{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if request.user.is_authenticated %}
                <h1 class="lead text-align-center">Add a new RSS source</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-block"><span class="fa fa-paper-plane-o"></span> Add</button>
                </form>
            {% else %}
                {% include 'permission.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}