{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}List of RSS sources{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if response %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading text-align-center">
                            <div class="panel-title">
                                Edit your rss sources here
                            </div>
                        </div>
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <th class="lead">#</th>
                            <th class="lead">Title</th>
                            <th class="lead">Link</th>
                            <th class="lead text-align-center">Has read?</th>
                            <th class="lead text-align-center">
                                <a href="#" title="What is it?" data-toggle="popover" data-placement="left"
                                   data-content="Select elements what you want and press a button for deletion or read.">Actions</a>
                            </th>
                            </thead>
                            {% for foo in response %}
                                <tbody>
                                <th>{{ forloop.counter }}</th>
                                <th><a href="{% url 'update_source' foo.id %}">{{ foo.value.0 }}</a></th>
                                <th>{{ foo.value.1 }}</th>
                                <th class="text-align-center">
                                    {% if foo.value.3 %}
                                        <span class="fa fa-check-square" style="color: green;"></span>
                                    {% else %}
                                        <span class="fa fa-minus-square" style="color: red;"></span>
                                    {% endif %}
                                </th>
                                <th class="text-align-center">
                                    <input type="checkbox" name="item" value="{{ foo.id }}">
                                </th>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <hr>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" name="as_read"><span
                                class="fa fa-check-square-o"></span> Mark as read
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block" name="on_delete"><span
                                class="fa fa-check-square-o"></span> Delete
                        </button>
                    </div>
                </form>
            {% elif not response %}
                <p class="lead">There is no documents. You can <a href="{% url 'add_source' %}">add</a> a new
                    document.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/popover.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/init-bw.js' %}"></script>
{% endblock %}