{% extends 'base.html' %}
{% block head_title %}List of RSS sources{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if response %}
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table table-responsive table-hover">
                        <thead>
                        <th class="lead">#</th>
                        <th class="lead">Title</th>
                        <th class="lead">Link</th>
                        <th class="lead text-align-center">Has read?</th>
                        <th class="lead text-align-center">Action</th>
                        </thead>
                        {% for foo in response %}
                            <tbody>
                            <th>{{ forloop.counter }}</th>
                            <th><a href="{% url 'aggregator:update' foo.id %}">{{ foo.value.0 }}</a></th>
                            <th>{{ foo.value.1 }}</th>
                            <th class="text-align-center">
                                {% if foo.value.3 %}
                                    <span class="fa fa-check-square" style="color: green;"></span>
                                {% else %}
                                    <span class="fa fa-minus-square" style="color: red;"></span>
                                {% endif %}
                            </th>
                            <th class="text-align-center">
                                <input type="checkbox" name="item" value="{{ foo.id }}">
                            </th>
                            </tbody>
                        {% endfor %}
                    </table>
                    <hr>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" name="as_read"><span
                                class="fa fa-check-square-o"></span> Mark as read
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block" name="on_delete"><span
                                class="fa fa-check-square-o"></span> Delete
                        </button>
                    </div>
                </form>
            {% elif request.user.is_authenticated %}
                <p class="lead">There is no documents. You can <a href="{% url 'aggregator:add' %}">add</a> a new
                    document.</p>
            {% else %}
                <p class="lead">Please, <a href="{% url 'account_login' %}">log in</a> to opportunity add documents.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}