{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head_title %}Add a filter{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="lead text-align-center">Create a new filter</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Here you can create your own filter for wished rss sources
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">Okay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/selectize.js' %}"></script>
    <script src="{% static 'js/init-selectize.js' %}"></script>
{% endblock %}