{% extends 'base.html' %}
{% block head_title %}List of RSS sources{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-responsive table-hover">
                <thead>
                <th class="lead text-align-center">#</th>
                <th class="lead text-align-center">Title</th>
                <th class="lead text-align-center">Link</th>
                <th class="lead text-align-center">Action</th>
                </thead>
                {% for foo in response %}
                    <tbody>
                    <th>{{ forloop.counter }}</th>
                    {% for item in foo.value %}
                        <th>{{ item }}</th>
                    {% endfor %}
                    <th class="text-align-center"><span class="fa fa-remove" style="color: red;"></span></th>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}