{% extends 'base.html' %}
{% block head_title %}List of RSS sources{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if response %}
                {% for foo in response %}
                    <h1 class="lead">{{ forloop.counter }}. <a href="{% url 'aggregator:parse' foo.id %}">{{ foo.value.0 }}</a></h1>
                {% endfor %}
                </table>
            {% elif request.user.is_authenticated %}
                <p class="lead">There is no documents. You can <a href="{% url 'aggregator:add' %}">add</a> a new
                    document.</p>
            {% else %}
                <div class="alert alert-danger"><b>Permission denied!</b> You must be authorized. Please, <a
                        href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">sign
                    up</a>.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}