{% extends 'base.html' %}
{% block head_title %}List of RSS sources{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if response %}
                <table class="table table-responsive table-hover">
                    <thead>
                    <th class="lead">#</th>
                    <th class="lead">Title</th>
                    <th class="lead">Link</th>
                    <th class="lead">User</th>
                    </thead>
                    {% for foo in response %}
                        <tbody>
                        <th>{{ forloop.counter }}</th>
                        {% for item in foo.value %}
                            <th>{{ item }}</th>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            {% elif request.user.is_authenticated %}
                <p class="lead">There is no documents. You can <a href="{% url 'aggregator:add' %}">add</a> a new
                    document.</p>
            {% else %}
                <div class="alert alert-danger"><b>Permission denied!</b> You must be authorized. Please, <a
                        href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">sign
                    up</a>.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}