{% extends 'base.html' %}
{% block head_title %}Filter parser{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="lead text-align-center">{{ response.0.value.name }}</h1>
            {% if response %}
                {% for item in response %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title text-align-center">
                                <a href="{{ item.link }}">{{ item.value.title }}</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ item.value.desc }}
                        </div>
                    </div>
                {% endfor %}
            {% elif not response %}
                <p class="lead">It's empty now. Please, <a href="{% url 'add_source' %}">add new one</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}