{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit form{% endblock %}
{% block style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="lead text-align-center">Update the filter</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-block" type="submit"><span class="fa fa-edit"></span> Change</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
{% endblock %}
