{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Add a post{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if request.user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-block" type="submit">Add a post</button>
                </form>
            {% else %}
                <p class="lead">You must to <a href="{% url 'account_login' %}">sign in</a> or <a href="{% url 'account_signup' %}">sign
                    up</a> to add posts.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
