{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Page not found{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar-static-top-home.css' %}">
{% endblock %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <h1 class="text-align-center">Something went wrong. Page not found 404.</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}