{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}Newsletter{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'head_css.html' %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% if messages %}
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    {% for message in messages %}
                        {{ message }} <br />
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">

        {% block jambotron %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div> <!-- /container -->

    {% include 'javascript.html' %}

  </body>
</html>
