{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Contact us | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% if title %}
            <h1 class="{% if title_center %}text-center{% endif %}">{{ title }}</h1>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}