{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Home page{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar-static-top-home.css' %}">
{% endblock %}
{% block jumbotron %}
    <div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
            <h1>RSS parser</h1>
            <p>Something here and there. We will show content here.</p>
        </div>
        <div class="col-md-6">
            <h1>Try to interact with something.</h1>
        </div>
    </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
